<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}} - My To-Buy List</title>
    
</head>
<body>
    <h2>
        My To-Buy List
    </h2> 
    {% for order in orders%}
    <div>
        <p>
            {{order.name}}: <a href="orders/{{orders.index(order)}}">more details</a>
        </p>
    </div>
 
    {% endfor%}
    
</body>
</html>